# Jellyfin
HOMEPAGE_VAR_JELLYFIN_API=

# qBittorrent
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=

# Immich
HOMEPAGE_VAR_IMMICH_PUBLIC=
HOMEPAGE_VAR_IMMICH_API=

# Foundry
HOMEPAGE_VAR_FOUNDRY_PUBLIC=

# Navidrome
HOMEPAGE_VAR_NAVIDROME_PUBLIC=
HOMEPAGE_VAR_NAVIDROME_USER=
HOMEPAGE_VAR_NAVIDROME_PASSWORD=
HOMEPAGE_VAR_NAVIDROME_SALT=

# Owntracks
HOMEPAGE_VAR_OWNTRACKS_PUBLIC=

# Tailscale
HOMEPAGE_VAR_TAILSCALE_DEVICE_ID=
HOMEPAGE_VAR_TAILSCALE_KEY=

# Minecraft
HOMEPAGE_VAR_BLUEMAP_PUBLIC=
HOMEPAGE_VAR_PLAN_PUBLIC=

# Azuracast
HOMEPAGE_VAR_AZURACAST_PUBLIC=