## Example Docker Compose configuration
##
## Use this as a template to set up docker compose, or as guide to set up other
## orchestration services
services:

  server:
    image: szurubooru/server:latest
    depends_on:
      - sql
    environment:
      ## These should be the names of the dependent containers listed below,
      ## or FQDNs/IP addresses if these services are running outside of Docker
      POSTGRES_HOST: sql
      ## Credentials for database:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      ## Commented Values are Default:
      #POSTGRES_DB: defaults to same as POSTGRES_USER
      #POSTGRES_PORT: 5432
      #LOG_SQL: 0 (1 for verbose SQL logs)
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      THREADS:
    volumes:
      - "${MOUNT_DATA}:/data"
      - "./server/config.yaml:/opt/app/config.yaml"
    restart: 'unless-stopped'

  client:
    image: szurubooru/client:latest
    depends_on:
      - server
    environment:
      BACKEND_HOST: server
      BASE_URL:
    volumes:
      - "${MOUNT_DATA}:/data:ro"
    ports:
      - "${PORT}:80"
    restart: 'unless-stopped'

  sql:
    image: postgres:11-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    volumes:
      - "${MOUNT_SQL}:/var/lib/postgresql/data"

  szurubooru-toolkit:
    image: reluce/szurubooru-toolkit
    container_name: szurubooru-toolkit
    restart: on-failure
    volumes:
      - ./crontab:/etc/cron.d/crontab
      - ./config.toml:/szurubooru-toolkit/config.toml
      - ./misc:/szurubooru-toolkit/misc
      - /media/moo/neptune/server-data/szurubooru/upload_src:/szurubooru-toolkit/upload_src
      - ./szurubooru_toolkit.log:/szurubooru-toolkit/szurubooru_toolkit.log
      - /media/moo/neptune/server-data/szurubooru/tmp:/szurubooru-toolkit/tmp
      - ./upload-script.sh:/szurubooru-toolkit/upload-script.sh
      - ./logs:/szurubooru-toolkit/logs
